body{
    background-image: url(background.png);
    background-size: auto;
    background-repeat: no-repeat;
}

.navbar{
    display: flex;
    background-color: #2a2a2a;
    
    /* justify-content: center; */
}

.navbar ul{
    display: flex;
    float: left;
    text-decoration: none;
    list-style: none;
}

.navbar ul li a{
    padding: 20px;
    text-decoration: none;
    cursor: pointer;
    color: white;
    font-family: sans-serif;
    text-shadow: .5px .5px white;
    transition: .6s;
}

.navbar ul li a:hover{
    transition: .6s;
    color: #f00;
}

.btn{
    background-color: white;
    border: 1px white;
}

.yt_vid{
    margin-top: 20px;
}
